html {
	 background: url(../img/bg3.jpg) no-repeat top;
	 height        : 100%;
}

body {
	 height        : 100%;
	 background : whitesmoke;
	 opacity       : 0.95;
}

nav {
	 font-size : 4em;
}

#header, .footerLink {
	 position   : fixed;
	 width      : 100%;
	 margin     : 0 auto;
	 text-align : center;
}

.footerLink {
	 bottom : 10px;
	 color  : black;
}
.footerLink a {
	 color: black;
}

#header {
	 background  : whitesmoke;
	 opacity     : 0.95;
	 height      : 60px;
	 top         : 0px;
	 padding-top : 5px;
	 z-index: 9990;
}

#logo_area a, #logo_area a img {
	 height : 50px;
}

.content {
	 height        : 100%;
	 width         : 100%;
	 background    : #5ed4ce;
	 margin        : 0 ;

	 border-style  : solid;
	 border-color  : #5ed4ce;
	 border-width  : 5px;
	 text-align    : center;
}

.frontpage {
	 font-size     : 1.6em;
	 color         : black;
}

.row {
	 padding: 0 10% ;
}

/* anne: max breedte voor tekst en alleen headers gecentreerd: */
.content .text,
.content p, .content h1, .content h2, .content h3{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.content p{
	text-align: left;
}

div#process {
	max-width:800px;
	margin: 0 auto;	
}
#process #steps {
	width: 296px;
	height: 351px;
	margin: 0 10px 10px 10px;
	float:right;
}
#proces ol {
	text-align: left;
	max-width: 400px;
	float:left;
}

#proces ol li {
	text-align: left;
}
/* === */

.content h1 {
	 font-size : 2em;
	 color     : black;
}

.arrow-down {
	 width        : 0;
	 height       : 0;
	 border-left  : 20px solid transparent;
	 border-right : 20px solid transparent;
	 border-top   : 20px solid #000;
	 margin       : 0 auto;
}

#map-canvas {
	 height  : 80%;
	 width   : 50%;
	 margin  : 0 auto;
	 padding : 0px;
}
#smallmap-canvas, #smallstreetview-canvas {
	 height  : 30%;
	 width   : 95%;
	 margin  : 0 auto;
	 padding : 0px;
}

.panel-default {
}
.panel-body {
	 height:550px;
}

#nodeAppraisalPlot {
	 padding: 0;
}

#allMachineAppraisal {
   margin-right: 15px;
}

.panel-body img {
	 max-width:100%;
	 max-height:100%;
}

