html {
	 background: url(../img/bg3.jpg) no-repeat top;
}

body {
	 background : whitesmoke;
	 opacity       : 0.95;
}

nav {
	 font-size : 4em;
}

#header, #footerLink {
	 position   : fixed;
	 width      : 100%;
	 margin     : 0 auto;
	 text-align : center;
}

#footerLink {
	 bottom : 10px;
	 color  : black;
}
#footerLink a {
	 color: black;
}

#header {
	 height      : 120px;
	 top         : 0px;
	 padding-top : 10px;
	 z-index: 9990;
}

#logo_area a, #logo_area a img {
	 height : 100px;
}

.content {
	 height        : 100%;
	 width         : 100%;
	 background    : #5ed4ce;
	 margin        : 0 ;

	 border-style  : solid;
	 border-color  : #5ed4ce;
	 border-width  : 5px;

	 font-size     : 2em;
	 text-align    : center;
	 color         : black;
}

.row {
	 padding: 0 10% ;
}

.content h1 {
	 font-size : 2em;
	 color     : black;
}

.arrow-down {
	 width        : 0;
	 height       : 0;
	 border-left  : 20px solid transparent;
	 border-right : 20px solid transparent;
	 border-top   : 20px solid #000;
	 margin       : 0 auto;
}

#map-canvas {
	 height  : 50%;
	 width   : 50%;
	 margin  : 0 auto;
	 padding : 0px;
}
#smallmap-canvas {
	 height  : 100%;
	 width   : 100%;
	 margin  : 0 auto;
	 padding : 0px;
}

.panel-body {
	 height:450px;
}

#nodeAppraisalPlot {
	 padding: 0;
}

.panel-body img {
	 max-width:100%;
	 max-height:100%;
}

